@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 15px;
}

body {
    background-color: #f3f3f32c;
}

h1 {
    color: #ea1538;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

nav {
    font-family: 'Karla', 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    gap: 15px;
    width: 25%;
    align-items: baseline;
    justify-content: space-between;
}

ul a {
    color: black;
    font-size: smaller;
    width: 20px;
}
ul i {
    width: 10px;
    height: 10px;
    margin: 5px;
}
ul:hover a {
    color: #ea1538;
}

main {
    background-color: white;
    box-shadow: grey 0px 0px 5px 0.5px;
    max-width: 85%;
    margin: 10px 7.5%;
    padding: 2rem;
}

/*Name of table and Search bar*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    background-color: white;
    border-radius: 30px;
    border: 0.5px solid #ea1538;
    font-size: 15px;
    line-height: 1.5;
    padding: 3px 7px 3px 3px;

    min-width: 20%;
}

input {
    display: inline-block;
    border: none;
    outline: none;
    font-family: cursive;
    font-size: 13px;
    padding: 0 7.5px;
    max-width: 80%;
}

table {
    font-family: 'Karla', sans-serif;
    font-size: 13px;
    table-layout: fixed;
    margin: 2rem 0;
    width: 100%;
    border-collapse: collapse;
}

thead {
    border-bottom: solid 3px #ea1538;
    font-size: 16px;
    text-align: left;
}

tbody td {
    padding: 10px 3px;
}

thead tr th:nth-child(1), thead tr th:nth-child(3), thead tr th:nth-child(4) {
    width: 20%;
}
thead tr th:nth-child(2) {
    width: 25%;
}
thead tr th:nth-child(6), thead tr th:nth-child(5) {
    width: 12.5%;
}

tbody tr:nth-child(odd) {
    background-color: #ea153957;
}

tbody tr:hover td:nth-child(1)::before {
    box-sizing: border-box;
    background: linear-gradient(to left, transparent, #f3f3f3);
    content: "\f2ed ";
    color: #ea1538;
    display: flex;
    align-items: center;
    font: var(--fa-font-regular);
    transition: width, ease, 100ms;
    padding-left: 2px;
    pointer-events: all;
    width: 100%;
    z-index: 100;
}

tbody tr td:nth-child(1)::before {
    content: "";
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
}
  
tr, td{
    position: relative;
}

button {
    background-color: #ea1538;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px black;
    color: white;
    right: 0;
    bottom: 0;
    height: 40px;
    margin: 25px;
    position: fixed;
    width: 40px;
}
